.navbar{
    width: 100%;
    position: relative;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 0.6px solid gray;
    text-overflow: ellipsis;
    flex-wrap: nowrap;
    box-sizing: border-box;
    min-width: min-content;
}
.gmail-logo{
    margin-left: 10px;
    margin-right: 40px;
    width: auto;
    height: auto;
    /* display: none; */
}
.nav-right{
    display: flex;
    
    margin-right: 20px;
}

.drawer-list-1{
    scrollbar-width: 0px;
    padding:"0px";overflow-y:"scroll";height:50%;overflow-x:hidden
}
.drawer-list-1::-webkit-scrollbar{
    width: 0px;
}
